body {
  min-height: 400px;
  margin-bottom: 100px;
  clear: both;
}

main {
  margin: 50px;
  text-align: center;
}

a {
  color: inherit;
  text-decoration: none;
}

.paperContainer {
  margin-bottom: 50px;
}
